exclude: ^notebooks/
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        #files: ^mutatest/
        types: [file, python]
        language_version: python3.7

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: flake8
        files: ^mutatest/*.py
        language_version: python3.7
