include LICENSE

# Core configuration files
include *.ini
include *.md
include *.rst
include *.toml
include *.yml
include *.yaml

# coverage configuration
include .coveragerc

# Tests
recursive-include tests *.py

# docs
include docs/_static/placeholder
include docs/_templates/placeholder

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.ini
recursive-include docs Makefile
recursive-include docs requirements.txt
