include LICENSE

# Core configuration files
include *.ini
include *.md
include *.rst
include *.toml
include *.yml
include *.yaml

# coverage configuration
include .coveragerc

# Tests
recursive-include tests *.py
